<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamAT.dao.AndroidDao"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
	
	<select id="androidLogin" resultType="org.teamAT.vo.MemberVo_Android">
		select userid, userpw from MEMBER where userid=#{userid}
	</select>
	
	<select id="androidCheckToday" resultType="org.teamAT.vo.BepresentVo_Android">
		select ${checkType} as "checkTime" from BEPRESENT where userid=#{userid} and TO_CHAR(ADATE,'YYYYMMDD')=#{today}
	</select>
	
	<select id="androidGetBepresentIn" resultType="Integer">
		select userin from BEPRESENT where userid=#{userid} and TO_CHAR(ADATE,'YYYYMMDD')=#{today}
	</select>
	
	<select id="androidGetBepresentOut" resultType="Integer">
		select userout from BEPRESENT where userid=#{userid} and TO_CHAR(ADATE,'YYYYMMDD')=#{today}
	</select>	
	
	<update id="androidCheckTimeUpdate">
		update BEPRESENT set ${checkType}=#{checkTime} where userid=#{userid} and TO_CHAR(ADATE,'YYYYMMDD')=#{today}
	</update>
	
	<select id="androidGetJobList" resultType="org.teamAT.vo.JobinfoVo_Android">
		select * from JOBINFO order by NUM asc
	</select>
	
	
</mapper>
