<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.teamAT.dao.AttendanceDao">

   <select id="getAttendList" resultType="org.teamAT.vo.AttendanceVo">
   select * from(
           SELECT UserID, ADATE, userin, userout, ATEXCEPTION, 
             CASE  WHEN (USERIN is null or USEROUT is null) THEN '결석'
                   WHEN USERIN>(SELECT starttime FROM(
                                   SELECT * 
                                   FROM member m join EDUCLASS e
                                   on m.EDUCLASS = e.NUM
                                 )where userid=#{userid}) 
                                 AND USEROUT<![CDATA[<]]>(SELECT endtime FROM(
                                   SELECT * 
                                   FROM member m join EDUCLASS e
                                   on m.EDUCLASS = e.NUM
                                 )where userid=#{userid}) THEN '결석'
                   WHEN USERIN>(SELECT starttime FROM(
                                   SELECT * 
                                   FROM member m join EDUCLASS e
                                   on m.EDUCLASS = e.NUM
                                 )where userid=#{userid}) THEN '지각'
                   WHEN USEROUT<![CDATA[<]]>(SELECT endtime FROM(
                                   SELECT * 
                                   FROM member m join EDUCLASS e
                                   on m.EDUCLASS = e.NUM
                                 )where userid=#{userid}) THEN '조퇴'
                   else '출석' end AS STATUE FROM BEPRESENT 
         )where userid=#{userid}
   </select>
</mapper>